.jumbotron {
    background-color: #eee;
}

.jumbotron img {
    width: 150px;
    border: 5px solid salmon;
}

.jumbotron hr {
    width: 250px;
    border: 1px solid black;
    opacity: .5;
}


hr {
    width: 200px;
    border: 1px solid black;
    opacity: .5;
}

.about {
    min-height: 600px;
}

.galeri {
    background-color: #eee;
}

.about, .galeri, .contact {
    padding-top: 20px;
}

footer {
    height: 70px;
    background-color: #222;
    color: #999;
    font-size: 0.8em;
}
footer .container .row {
    float: right;
}

.contact {
    height: 1000px;
}




.clear {
  clear:both;
}

.dashboard {
    
}

ul .dsb {
  padding-left: 5px;
}

ul .dsb a:hover {
  background-color: #999;
}

ul hr {
  border: 1px solid #999;
}

.navbar-bg {
  background-color: darkblue;
}

body {
  min-height: 2000px;
}

.dash {
  position: sticky;
  top: 50px;
  height: 607px;
}


.konten {
  position: relative;
  top: 50px;
}










